*{
    margin: 0;
    padding: 0;
}

main {
    background-image: url('../images/lycg-xl.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}